{
  "presets": [
    ["env", {
      "targets": {
        "chrome": 51,
        "firefox": 45,
        "safari": 10,
        "edge": 14
      },
      
      "modules": false,
      "loose": false
    }]
  ]
}

/*"exclude": ["transform-es2015-for-of"],*/
