{
  "presets": [
    ["env", {
      "targets": {
        "uglify": false,
        "chrome": 60,
        "firefox": 58,
        "safari": "11",
        "edge": 15
      },
      
      "modules": false,
      "loose": true
    }]
  ]
}
