{
  "presets": [
    ["env", {
      "targets": {
        "uglify": false,
        "chrome": 58,
        "firefox": 50,
        "safari": "10.1",
        "edge": 14
      },
      
      "modules": false,
      "loose": true
    }]
  ]
}
